@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=New+Tegomin&display=swap");
body {
  background-image: url("images/Bg.jpg");
  /* background-repeat: no-repeat; */
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  font-family: cursive;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #bbb;
  color: black;
}

.topnav-right {
  float: right;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.img_div {
  float: left;
  width: 50%;
  padding: 5px;
}
.menu_div {
  float: right;
  width: 50%;
  padding: 160px;
  color: honeydew;
  font-size: 25px;
  font-family: cursive;
}
#menu_list {
  background-color: #f5c71a;
  color: black;
  width: 200px;
  border: none;
}

.newRow::after {
  content: "";
  clear: both;
  display: table;
}

.block1 {
  float: left;
  width: 20%;
  padding: 5px;
}
.block2 {
  float: left;
  width: 80%;
  padding: 5px;
  color: honeydew;
  font-size: 25px;
  font-family: cursive;
}

#add_toppings {
  /* padding-left:30px; */
  width: 200px;
  height: 180px;
  border: none;
  background-color: #e2062c;
  color: black;
  font-size: 25px;
  font-family: cursive;
}

#add_item {
  font-family: cursive;
  font-size: 15px;
  line-height: 20px;
  width: 80%;
  height: 50px;
  color: #fff;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(223, 205, 205);
  outline: none;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: text-indent 0.4s 0.4s ease;
  text-indent: -100%;
  opacity: 1;
  color: white;
}

ol.menulist > li {
  padding-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.card {
  flex: 0 0 30%;
  box-sizing: border-box;
  color: black;
  margin: 0.5rem 0.18em;
  background-color: antiquewhite;
  align-items: center;
  font-size: medium;
}
.card img {
  width: 100px;
  height: 80px;
}
#menu_div {
  font-family: "East Sea Dokdo", cursive;
  color: white;
  margin-top: 100px;
  margin-left: 750px;
  font-size: 30px;
}
#menu_button {
  background-color: rgb(51, 51, 51);
  font-size: 50px;
  background-image: linear-gradient(#ff2d2d, #00ca3d);
  font-family: "New Tegomin", serif;
}
.pizzas {
  background-color: antiquewhite;
  float: left;
  display: flex;
  padding: 5px;
  margin-right: 25px;
  margin-left: 25px;
  flex: 100%;
}
#pizzaimage {
  width: 80px;
  float: left;
}
.menurecommend {
  display: flex;
  vertical-align: middle;
}

.pizzareco {
  width: 40%;
  float: left;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
